.carousel {
  width: 90%;
  margin: auto;
  border-radius: 0.62rem;
  height: 23.75rem;
  background-color: rgb(240, 250, 240);
}

.carousel img{
    height: 23.75rem !important;
}

.carousel .legend{
  width: 30% !important;
  margin-left: -15% !important;
}

.carousel .legend{
  background-color: var(--primary-color) !important;
  color: var(--bg-color) !important;  
}

@media (width<=1280px){
  .carousel .legend{
    opacity: 1 !important;
  }
}



@media (width >= 1280px) {
  .carousel {
    width: 61.25rem;
    margin: auto;
    border-radius: 0.62rem;
    height: 30rem;

  }

  .carousel img{
    height: 30rem !important;
}


}