.carousel {
  width: 90%;
  margin: auto;
  border-radius: 10px;
  height: 380px;
  background-color: rgb(219, 244, 219);
}

.carousel img{
    height: 380px !important;
}

@media (width >= 1280px) {
  .carousel {
    width: 980px;
    margin: auto;
    border-radius: 10px;
    height: 480px;
  }

  .carousel img{
    height: 480px !important;
}
}