.carousel {
  width: 80%;
  margin: auto;
  border-radius: 10px;
  height: 380px;
  background-color: var();
  overflow-y: hidden;
}

.carousel img{
    height: 380px !important;
}

@media (width >= 1280px) {
  .carousel {
    width: 50%;
    margin: auto;
    border-radius: 10px;
    height: 480px;
  }

  .carousel img{
    width: 100px;
    height: 480px !important;
}
}